<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>carlosgaldino.fibonacci</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>EBAA74AF-4F46-4AB7-B886-2051AD739936</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>450AB58E-4572-4C9A-81BE-7FBAA6FDB3F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Carlos Galdino (@carlosgaldino)</string>
	<key>description</key>
	<string>Generate estimatives for your agile planning poker</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>fibonacci</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>450AB58E-4572-4C9A-81BE-7FBAA6FDB3F2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>fibonacci</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>./fib {query}</string>
				<key>title</key>
				<string>Generate estimation</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>EBAA74AF-4F46-4AB7-B886-2051AD739936</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>450AB58E-4572-4C9A-81BE-7FBAA6FDB3F2</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>EBAA74AF-4F46-4AB7-B886-2051AD739936</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/carlosgaldino/alfred-fibonacci</string>
</dict>
</plist>
